:root {
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --red: hsl(0, 100%, 66%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --white: hsl(0, 0%, 100%);
  --radius: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

body {
  min-width: 350px;
}

::placeholder {
  font-size: 1rem;
}

img {
  max-width: 100%;
  height: 100%;
}

input {
  border: 1px solid var(--light-grayish-violet);
  border-radius: var(--radius);
  font-family: inherit;
  font-size: 1rem;
  padding: 16px 20px;
  width: 100%;
}

input:focus {
  outline: 1px solid var(--very-dark-violet);
}

button {
  border: 1px solid var(--very-dark-violet);
  background-color: var(--very-dark-violet);
  border-radius: var(--radius);
  color: var(--white);
  font-size: 1rem;
  padding: 15px 20px;
  width: 100%;
}

.px {
  padding-left: 20px;
  padding-right: 20px;
}

.g2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

form {
  display: grid;
  row-gap: 40px;
}

.first {
  padding: 20px;
  min-height: 30%;
  margin-bottom: 100px;
  background-image: url("images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-inner {
  min-width: 100%;
  height: 175px;
  position: relative;
}

.card {
  position: absolute;
  width: 100%;
  height: auto;
}

.card-back {
  top: -10%;
  left: 0%;
}

.card-front {
  bottom: -67%;
  right: 0%;
}

.second {
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-inner {
  max-width: 400px;
}

.form-group {
  display: grid;
}

.form-label {
  text-transform: uppercase;
  margin-bottom: 7px;
  font-size: 0.8em;
}

.invalid-feedback {
  color: var(--red);
}

@media (min-width: 500px) {
  .first-inner {
    min-width: 350px;
    height: 175px;
  }

  .card-back {
    top: -10%;
    left: 15%;
  }

  .card-front {
    bottom: -67%;
    right: 16%;
  }
}

@media (min-width: 1240px) {
  body {
    display: grid;
    grid-template-columns: 25% 1fr;
  }

  .first {
    margin: 0;
  }

  .first-inner {
    width: 447px;
  }

  .card {
    width: 100%;
  }

  .card-back {
    top: 57%;
    left: 55%;
  }

  .card-front {
    bottom: 57%;
    right: -30%;
  }
}